body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  background-color: $fondBody;
  color: $grisTexte;
}

a,
a:hover {
  color: $primaryColor;
  text-decoration: none;
}

.main {
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -10px;
}

.page-header {
  margin-top: 32px;
  border-bottom-color: $primaryColor;
  margin-left: 25px
}

.placeholder {
  margin-bottom: 20px;

  img {
    display: inline-block;
    border-radius: 50%;
  }
}

h3,
h4 {
  color: $primaryColor;
}
hr {
  border-top: 1px solid #eee;
}
@mixin h3fixed {
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  margin-left: -25px;
  margin-top: -10px;
}

.fixedH3 {
  @include h3fixed;
}

.fixedH3+.row {
  padding-top: 88px;
}

.izanami-container {
  > .row {
    margin-left: 0;
    margin-right: -5px;
  }

  > h3+.row {
    margin-left: 0;
    margin-right: -10px;
  }

  .glyphicon-ok-sign,
  .glyphicon-remove-sign {
    font-size: 16px;
    top: 4px;
  }
  @media only screen and (max-width: 1002px) {
    margin-top: 66px;
  }
}


.fa-cog {
 // font-size: 1.5em;
  top: 5px;
  color: #fff;
}


.logo_izanami_dashboard {
  margin-top: 30px;
  width: 240px;
}

.panel-danger {
  border-color: #ebccd1;
  > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}