.navbar {
  background-color: var(--bg-color_level2) !important;

  .navbar-nav > li {
    > a ,  .nav-link.show{
      color: var(--color_level2);
    }

    .dropdown-menu {
      position: absolute;
      li:hover,
      li:focus {
        background-color: var(--bg-color_level3);
      }
      a:hover,
      a:focus {
        text-decoration: none;
      }
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover {
    background-color: $color-dark-6;
    background-image: none;
    color: $primaryColor;
  }

  .navbar-right > li > a {
    color: $primaryColor;

    &:focus,
    &:hover {
      background: none;
      cursor: pointer;
    }
  }
}

.navbar-header {
  background-color: $primaryColor;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  color: $primaryColor;
}
// izanimi begin

.text-info {
  color: $primaryColor;
}

.form-control:focus {
  border-color: #373735;
  box-shadow: none;
  background-color: $color-dark-5;
}

.nav > li > a {
  padding: 10px;
}

@media screen and (max-width: $screen-sm) {
  .navbar-right {
    margin-top: -53px;
    float: right;
    position: absolute;
    right: 15px;

    .open .dropdown-menu {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .userManagement {
      a {
        text-align: right;
      }

      &.open {
        background-color: #373735;
        z-index: 3;
      }
    }
  }

  .navbar-form {
    clear: both;
    border: none;
    box-shadow: none;
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .menu {
    float: left;
    color: #fff;
  }
}

.collapse.show {
  display: block;
}
