.sidebar {
  background: -moz-linear-gradient(top, $fondBody 1%, $fondNavbar 100%);
  background: -webkit-linear-gradient(top, $fondBody 1%, $fondNavbar);
  background: linear-gradient(180deg, $fondBody 1%, $fondNavbar);
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: none;
  @media screen and (max-width: $screen-lg) {
    display: none;
    top: 90;
    width: 100%;
  }

  a {
    color: $colorGris;
  }

  .active > a {
    color: $primaryColor;
  }
  .active svg .icon_context {
    fill: $primaryColor !important;
    transition: 1s;
  }

  h2 a,
  h3 {
    color: $primaryColor;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
  }

  i {
    margin-right: 5px;
  }
}

.sidebar-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sidebar-content {
  flex-grow: 1;
}

.nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
  margin-bottom: 20px;

  > li > a {
    padding: 5px 10px 5px 36px;

    &.active {
      color: $primaryColor;
    }
  }
}

.nav-sidebar-plus {
  padding-left: 20px;
  margin-top: -15px;

  > li > a {
    padding: 5px 10px 5px 36px;

    &:hover {
      margin-left: -20px;
      padding-left: 56px;
    }
  }
}
