.idea
bin
.project
.settings
.classpath
target
./data2
data/
redisdata/
.credentials
.dockercfg
.npmrc
npmrc
.artifactory
secrets.tar
/logs/
.DS_Store
node_modules
leveldb/datas
e2e
.metals
.bloop
settings.json
keycloak_postgres_data