izanami.jar
.secrets
logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules/
javascript/.parcel-cache/
.DS_Store
test/Sandbox.scala
/public/assets/
/public/index.html
.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
izanami-frontend/playwright/.auth/
.oidc-secrets
manual/.docusaurus/