sudo: false
matrix:
  include:
    - os: linux
      language: scala
      scala: 2.12.7
      jdk: oraclejdk8
      services:
      - docker
      before_install:
      - sudo apt-get install wget curl
      - wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh |
        bash
      - export NVM_DIR="/home/travis/.nvm"
      - sh $NVM_DIR/nvm.sh
      - nvm install 10.13.0
      - nvm use 10.13.0
      - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.12.3
      - export PATH=$HOME/.yarn/bin:$PATH
      - wget --quiet https://sh.rustup.rs -O rustupinstall.sh
      - sh ./rustupinstall.sh -y
      - export PATH=$PATH:$HOME/.cargo/bin
      - rustup update
      - rustup default stable
      - docker-compose -f docker-compose.test.yml rm
      - docker-compose -f docker-compose.test.yml up -d
      script:
      - sh ./scripts/build-javascript.sh
      - travis_wait sh ./scripts/sbt-build.sh
      - sh ./scripts/publish-npm.sh
      - sh ./scripts/build-rust.sh
      after_failure:
      - docker-compose logs cassandra
    - os: osx
      osx_image: xcode8.3
      before_install:
      - wget --quiet https://sh.rustup.rs -O rustupinstall.sh
      - sh ./rustupinstall.sh -y
      - export PATH=$PATH:$HOME/.cargo/bin
      - rustup update
      - rustup default stable
      script:
      - sh ./scripts/build-rust.sh
env:
  global:
  - PACKAGE_VERSION=0.0.1
before_cache:
- find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt  -name "*.lock"               -print -delete
cache:
  yarn: true
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"
  - "$HOME/.sbt"
  - "$HOME/.coursier"
  - "$HOME/.nvm"
  - "$HOME/.yarn-cache"
  - "$HOME/.rustup"
  - "$HOME/.cargo"

