.btn {
  background-color: transparent !important;
  margin-right: 5px;
  color: var(--color_level2) !important;
  &:focus {
    background-color:var(--bg-color_level3);
  }
  &:hover {
    background-color:var(--bg-color_level3) !important;
    color: var(--color_level3) !important;
  }
}

.displayGroupBtn {
  text-align: right;
  button.btn {
    margin-left: 5px;
  }
  .btn-danger:focus {
    outline-color: var(--color-red);
  }
}

.btn-search {
  border: 1px solid #5cb85c;
  background: none;
  margin: 2px 2px 2px 2px;
  &.active {
    background: #5cb85c !important;
  }
}

// .btn-dropdown {
//   background: none;
//   color: #48b9db;
//   border: none;
// }

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 4px;
}

.input-group-btn:last-child > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.btn-primary {
  color: #fff;
  border: 1px solid;
  border-color: var(--color-primary);
  &:hover,
  &.active,
  &.active:hover {
    color: #fff;
    border: 1px solid;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &:disabled,
  &.disabled {
    color: #fff;
    border: 1px solid;
    border-color: var(--color-primary);
    background-color: transparent;
  }
}

.btn-secondary {
  color: #fff;
  border: 1px solid;
  border-color: var(--color-blue);
  &:hover,
  &.active,
  &.active:hover {
    color: #fff;
    border: 1px solid;
    border-color: var(--color-blue);
    background-color: var(--color-blue);
  }

  &:disabled,
  &.disabled {
    color: #fff;
    border: 1px solid;
    border-color: var(--color-blue);
    background-color: transparent;
  }
}

.btn-danger {
  color: #fff;
  border: 1px solid;
  border-color: var(--color-red);
  &:hover {
    color: #fff;
    border: 1px solid;
    border-color: var(--color-red);
    background-color: var(--color-red);
  }
}

.btn-danger-light {
  color: #fff;
  border: none;
  border-color:none;
  &:hover {
    color: #fff;
    border:none;
    border-color: var(--color-red);
    background-color: var(--color-red);
  }
}

// .btn-primary {
//   color: #fff;
//   border: 1px solid;
//   border-color: var(--color-green);
//   &:hover {
//     color: #fff;
//     border: 1px solid;
//     border-color: var(--color-green);
//     background-color: var(--color-green);
//   }
//   // &[disabled] {
//   //   color: $color-dark-1;
//   //   text-shadow: none;
//   //   background-color: transparent;
//   //   border-color: var(--color-green);
//   // }
//   &.disabled {
//     color: $color-dark-1;
//     text-shadow: none;
//     background-color: transparent;
//     border-color: $color-dark-1;
//   }
//   &.active {
//     background: var(--color-green) !important;
//   }
// }

.input-group-btn.crud {
  .btn:disabled {
    cursor: not-allowed;
  }
  .btn-primary:not(.active) {
    background: none;
  }
}

.btn-default.disabled,
.btn-default.disabled:hover {
  color: $color-dark-1;
  text-shadow: none;
  background-color: transparent;
}

.prod,
.prod:hover {
  color: #fff;
  background-color: var(--color-green);
  width: 80px;
  border-color: var(--color-green);
  margin-bottom: 1px;
}

.preprod,
.preprod:hover {
  color: #fff;
  background-color: var(--color-blue);
  width: 80px;
  border-color: var(--color-blue);
  margin-bottom: 1px;
}

.experiments,
.experiments:hover {
  color: #fff;
  background-color: $primaryColor;
  width: 80px;
  border-color: $primaryColor;
  margin-bottom: 1px;
}

.refresh {
  background-color: $color-dark-6;
  border-color: $color-dark-1;
  color: $color-dark-1;
  background-image: none;
  margin-left: 10px;
  padding: 3px 5px 0px 5px;
  text-shadow: none;
}

.btn-search {
  margin-left: 10px;
}

.btn.open-all,
.openbtn {
  color: #fff;
  :hover {
    color: $color-dark-1;
  }
}

.btn-group-xs > .btn {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.875;
  border-radius: 0.2rem;
}

.btn-breadcrumb {
  display: block;
}

@media only screen and (max-width: $screen-sm) {
  .updateConfig > .btn {
    margin-bottom: 10px;
  }

  .btn-search {
    margin-left: 0px;
    margin-top: 10px;
  }
}
