.dropdown-menu {
  background-color: $color-dark-6;

  > li {
    > a:focus,
    > a:hover,
    > div:focus,
    > div:hover {
      background-image: none;
    }
  }

  > li > a,
  > li > div {
    color: $color-dark-1;
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto !important;
  i {
    min-width: 16px;
  }
}

.dropdown-item {
  transition-duration: 1s;
}
