.dropdown-menu {
  background-color: var(--bg-color_level25);
  > li {
    > a:focus,
    > a:hover,
    > div:focus,
    > div:hover,
    > a.active 
    {
      background-color: var(--bg-color_level2);
    }
  }

  > li > a,
  > li > div {
    color: var(--color_level3) !important;
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto !important;
  i {
    min-width: 16px;
  }
}

.dropdown-item {
  transition-duration: 1s;
}
