.search-container {
  position: relative;
}

.search-container-input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #888;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}

.search-ul .active a {
  color: var(--bg-color_level3);
}

.search-ul .search-ul-item a {
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

.search-ul a {
  color: var(--color_level1);
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}
.search-result {
  margin: 0.6rem;
}
.cursor-pointer {
  cursor: pointer;
}
.clear-search-btn {
  position: absolute;
  right: 0.625rem;
  background: transparent;
  color: var(--color-blue);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
