.search-container {
    position: relative;
    width: 300px;
}

.search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #888;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

.dropdown-content {
    position: absolute;
    background-color: var(--bg-color_level3);
    border: 1px solid $color-dark-6;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
}

.dropdown-group {
    padding: 1px 10px;
}

.dropdown-group-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #e6e6e6 !important;
    cursor: pointer;
}

.item-icon {
    margin-right: 5px;
    color: #555;
}

.dropdown-item:hover {
    background-color: var(--bg-color_level2);
}
