.table {
  color: var(--color_level2) !important;
  background-color: var(--bg-color_level2) !important;
  thead> * > * {
    color: var(--color_level2) !important;
    background-color: var(--bg-color_level2) !important;
  }
  th,
  td {
    vertical-align: middle;
  }
  tbody, &> :not(caption)> * > * {
    background-color: var(--bg-color_level3);
    color: var(--color_level3) !important;
    td,
    th {
      color: var(--color_level3) !important;
    }
  }

  .btn {
    color: var(--color_level3) !important;
  }

  .dropdown {
    position: inherit;
  }
}
