.popover {
	color: $fondBody;
	margin-left:calc(50% - 135px)!important;
	margin-top: 50px;
}

.popover-title {
	background-color: $primaryColor;
	color: #FFF;
}

.popover.bottom {
	margin-left: -100px;
}

.popover .close {
	margin-top: -5px;
}

.popover.right > .arrow,.popover.right > .arrow:after {
	border-right: none;
}

.popover-content {
	background-color: $primaryColor;
	color: #FFF;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}
