.popover {
	color: $fondBody;
}

.popover-title {
	background-color: $primaryColor;
	color: #FFF;
}

.popover.bottom {
	margin-left: -100px;
}

.popover .close {
	margin-top: -5px;
}

.popover.right > .arrow:after {
	border-right-color: $primaryColor;
}

.popover-content {
	background-color: $primaryColor;
	color: #FFF;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}
