@mixin content-switch {
  margin-top: 5px;
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.content-switch-button-on {
  @include content-switch;
  background-color: $colorRose;
  border: 1px solid $colorRose;
  justify-content: flex-end;
}

.content-switch-button-off {
  @include content-switch;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  justify-content: flex-start;
}

.switch-button-on {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
}

.switch-button-off {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 20px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.3);
}
