.treeview .list-group-item {
  cursor: pointer
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px
}

.treeview span.icon {
  width: 12px;
  margin-right: 5px
}

.treeview .node-disabled {
  color: silver;
  cursor: not-allowed
}

.treeview .btn-group>.btn:first-child{
  margin-left: 5px;
}
.list-group-item{
  border: none;
}
.list-group-item:nth-child(even){
  background-color: #494948;
}

.list-group-item:nth-child(odd){
  background-color: #373735;
}
