
.node-tree {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .content-value {
      display: flex;
      flex-grow: 1;
      align-items: baseline;
      justify-content: flex-end;
      .content-value-items {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .action-button {
      width: 100px;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }
  }
}

.treeview div.open {
  i.glyphicon-minus-sign {
    display: block;
  }
  i.glyphicon-plus-sign {
    display: none;
  }
  & + .root-node {
    display: block;
  }
}

.treeview div {
  i.glyphicon-minus-sign {
    display: none;
  }
  i.glyphicon-plus-sign {
    display: block;
  }
  & + .root-node {
    display: none;
  }
}

.node-tree {
  margin-top: 1px;
  & .content:hover {
    background-color: $fondNavbar;
  }

  & + .node-tree {
    margin-top: 5px;
  }
}
.open-close {
  padding-left: 12px;
}



.root-node {
  position: relative;
  width: 100%;
}

