.copy-node-window {
  border: 1px solid $fondNavbar;
  border-radius: 4px;
  background-color:$fondBody;
  min-width: 400px;
  margin-left: 150px;
  padding: 10px;
  overflow:hidden;
}

.copy-node-from {
  display: flex;
}

.key-value-value-big {
  color: white;
  display: inline-block;
  margin-left: 2px;
  vertical-align: bottom;
  cursor: pointer;
}

.Popover-tipShape {
  fill: $fondNavbar
}