
.dropdown-menu {
  background-color: $fondBody;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover,
.dropdown-menu > li > div:focus, .dropdown-menu > li > div:hover{
  background-image: none;
  background-color: $fondGrisclairSurvolMenu;
}

.dropdown-menu > li > a,
.dropdown-menu > li > div{
  color: $colorGris;
}

.dropdown-menu-right i {
  min-width: 16px;
}
