.key-value-value {
  color: white;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 2px;
  vertical-align: top;
  cursor: pointer;
}


.btn-breadcrumb>.btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb>.btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb>.btn.btn-info:hover:before, .btn-breadcrumb>.btn.btn-info:before {
    border-left: 10px solid $primaryColor;
}
.btn-breadcrumb>.btn.btn-info:after {
    border-left: 7px solid #373735;
}

.btn-breadcrumb .fa-caret-right {
  margin-left: 5px;
}
.btn-breadcrumb>.btn {
    padding: 6px 12px 6px 24px;
    margin-right: 0px;
}

.btn-breadcrumb>.btn {
    border-color: $primaryColor;
    border-right: 1px solid transparent !important;
    font-size: 11px;
}

.btn-breadcrumb .btn-info{
    background-image: linear-gradient(to bottom, $fondBody 0, $fondBody 100%);
}

.closeKeypicker {
    margin-left: 5px;
    border: 1px solid $primaryColor;
    padding: 1px 3px;
    &:hover{
      background-color: $primaryColor;
    }
}
