.key-value-value {
  color: white;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 2px;
  vertical-align: top;
  cursor: pointer;
}

.btn-breadcrumb {
  .fa-caret-right {
    margin-left: 5px;
  }
  .btn-info {
    background-image: linear-gradient(to bottom, $fondBody 0, $fondBody 100%);
  }
}
.btn-breadcrumb > .btn {
  padding: 6px 12px 6px 24px;
  margin-right: 0px;
  border-color: $primaryColor;
  border-right: 1px solid transparent !important;
  font-size: 11px;
  &:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: 0px;
    left: 100%;
    z-index: 3;
  }
  &:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }
  &.btn-info:after {
    border-left: 7px solid #373735;
  }
  &.btn-info:hover:before,
  &.btn-info:before {
    border-left: 10px solid $primaryColor;
  }
}

.letter-group .letter {
  margin: 1px;
  padding: 1px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #419641;
  color: #fff;
}
