

.nav > li > a {
  transition-duration: 1s;
  padding: 5px 10px 5px 36px;
  position: relative;
  display: block;

  &:focus,
  &:hover {
    background-color: $fondGrisclairSurvolMenu;
    color: #fff;
    //border-color: $primaryColor;
  }
}

.nav > li > h3 > a {
  padding: 5px 0 5px 30px;
  margin-left: -30px;
  display: block;
  transition-duration: 1s;

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: $fondGrisclairSurvolMenu;
    color: #fff;
  }
}

.navbar-brand, .menu, a.navbar-brand:hover {
  color:#fff;
}

.navbar-brand{
  font-size: 1rem;
  margin-right: 0rem;
}

.navbar-toggler {
  font-size: 1rem;
  border-color: #fff;
  height: 30px;
  margin-top: 10px;
}
