.popover {
	color: $fondBody;
	left:calc(50%)!important;
	top: 60px!important;
    transform: translateX(-50%)!important;

	.arrow{
		display: none;
	}
}

.popover-title {
	background-color: $primaryColor;
	color: #FFF;
}

.popover.bottom {
	margin-left: -100px;
}

.popover .close {
	margin-top: -5px;
}

.popover.right > .arrow,.popover.right > .arrow:after {
	border-right: none;
}

.popover-content {
	background-color: $primaryColor;
	color: #FFF;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}

.popover-body{
	.btn {
		color:$colorBleue;
		margin-bottom: 10px;
		&:hover{
			background-color: #fff;
		};
	}
}