.react-select__control{
  box-shadow: 0 0 0 1px $fondNavbar !important;
}

.react-select__option:hover,
.react-select__option--is-selected,.react-select__option--is-focused{
    cursor: pointer;
  background-color: $fondNavbar!important;
  color:#FFF;
}
