
.node-tree {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.treeview .key-value-value:hover {
  background-color: $colorRose!important;
  background-image: none !important;
}
.treeview .key-value-value:hover:after {
  border-left-color: $colorRose!important;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .content-value {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      .content-value-items {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .action-button {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.treeview div.open {
  i.fa-minus {
    display: block;
  }
  i.fa-plus-circle {
    display: none;
  }
  i.fa-plus {
    display: none;
  }
  button.open-all {
    display: none;
  }
  & + .root-node {
    display: block;
  }
}

.treeview div {
  i.fa-minus {
    display: none;
  }
  i.fa-plus-circle {
    display: block;
  }
  i.fa-plus {
    display: block;
  }
  & + .root-node {
    display: none;
  }
}

.node-tree {
  margin-top: 3px;
  & .content:hover {
    background-color: $fondNavbar;
  }
}

.open-close {
  padding-left: 12px;
}

.root-node {
  position: relative;
  width: 100%;
}

