<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h2>My Tv Shows</h2>
        <app-search-tv-show (onSelected)="onSelected($event)"></app-search-tv-show>

        <div *ngFor="let show of (shows || [])" class="media">
          <div class="media-left media-middle">
            <img class="media-object" width="540px" [src]="show.image"/>
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{show.title}}</h3>

            <ng-template appExperiment path="mytvshows:gotoepisodes:button"
                         notifyDisplayPath="/api/izanami/experiments/displayed" variant="A">
              <a routerLink="/tvshow/{{show.id}}" (click)="markAsWon" class="btn pull-right"><i
                class="fa fa-eye"></i></a>
            </ng-template>
            <ng-template appExperiment path="mytvshows:gotoepisodes:button"
                         notifyDisplayPath="/api/izanami/experiments/displayed" variant="B">
              <a routerLink="/tvshow/{{show.id}}" (click)="markAsWon" class="btn pull-right"><i
                class="glyphicon glyphicon-chevron-right"></i></a>
            </ng-template>

            <button type="button" class="btn pull-right" (click)="remove(show)" alt="supprimer"><i
              class="glyphicon glyphicon-trash"></i>
            </button>
            <p class="description">{{show.description | slice:0:120}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
