<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway:400,500" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"></link>
</head>
<body>
    <script th:if="${mode} == 'dev'" src="http://localhost:3334/javascripts/bundle/Izanami.js" type="text/javascript"></script>

    <script th:if="${mode} != 'dev'" src="/javascripts/bundle/Izanami.js" type="text/javascript" ></script>

    <div id="app"></div>
    <script type="application/javascript">
      Izanami.init(document.getElementById("app"));
    </script>
</body>
</html>
