.col.sortable {
  cursor: pointer;
}

.table-filter {
  max-width: 150px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav-link {
  display: inline;
}

.openid-separator {
  display: flex;
  align-items: center;
}

.openid-separator::before,
.openid-separator::after {
  display: inline-flex;
  content: "";
  border-top: 0.1rem solid rgba(221, 221, 221, 0.25);
  flex: 1;
  margin: 0 12px;
}

.feature-separator {
  margin-left: 24px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.error-message {
  color: var(--color-red);
}

.fieldset-form fieldset {
  background-color: var(--bg-color_level2);
  color: var(--color_level2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
}

.fieldset-form fieldset:disabled {
  opacity: .5;
}

.item-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.item-text {
  font-size: 21px;
  margin-bottom: 24px;
}

.form-margin {
  margin-top: -10px;
}

#swagger-ui {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
}
#swagger-ui > * {
  all: revert;
}

.custom-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

@-moz-document url-prefix() {
  [class*=" bi-three-dots-vertical"]::before {
    vertical-align: -0.25em;
  }
}