$primaryColor: #dc5f9f;
$primaryColor-lighter: lighten($primaryColor, 10%);

$screen-sm: 767px;
$screen-lg: 992px;

// old naming
$colorGros: #e6e6e6;
$grisTexte: #b5b3b3;
$fondNavbar: #494948;
$fondLighter: #595959;
$fondBody: #373735;
$fondGrisclairSurvolMenu: #9e9e9e;

$savecolor: #5cb85c;
$colorBleue: #00b4cd;
$colorBleue-lighter: lighten($colorBleue, 10%);
$colorRouge: #d5443f;

//new naming
// dark mode var
$color-dark-1: #e6e6e6;
$color-dark-2: #b5b3b3;
$color-dark-3: #9e9e9e;
$color-dark-4: #595959;
$color-dark-5: #494948;
$color-dark-6: #373735;
$color-dark-7: #222;

//light mode var
$color-white-1: #fff;
$color-white-2: #f3f3f4;
$color-white-3: #4f4e4e;
$color-white-4: #e8e8e8;
$color-white-5: #6f6f6f;
$color-white-6: #e1dfdf;
$color-white-7: #dbdbdb;

:root {
  // globals
  --color-primary: #{$primaryColor};
  --color-primary-lighter: #{$primaryColor-lighter};
  --color-green: #5cb85c;
  --color-blue: #{$colorBleue};
  --color-blue-lighter: #{$colorBleue-lighter};
  --color-red: #d5443f;
  --color-grey: #e6e6e6;
  --color-white: #fff;
  --color-dark: #000;
  --http_color-get: rgb(89, 179, 255);
  --http_color-post: rgb(74, 203, 145);
  --http_color-delete: rgb(249, 63, 62);
  --http_color-put: rgb(251, 161, 47);
  --http_color-others: rgb(155, 89, 182);

  // dark mode (default)
  --bg-color_level1: #{$color-dark-7};
  --color_level1: #{$color-dark-3};
  --bg-color_level2: #{$color-dark-6};
  --color_level2: #{$color-dark-2};
  --bg-color_level3: #{$color-dark-4};
  --color_level3: #{$color-dark-1};
  --bg-color_level25: #{$color-dark-5};
}

[data-theme="light"] {
  --bg-color_level1: #{$color-white-2};
  --color_level1: #{$color-white-3};
  --bg-color_level2: #{$color-white-4};
  --color_level2: #{$color-white-3};
  --bg-color_level3: #{$color-white-6};
  --color_level3: #{$color-white-3};
  --bg-color_level25: #{$color-white-7};
}
